In [29]:
import math

In [1]:
type(4)

int

In [3]:
type(0)

int

In [4]:
type(-3)

int

In [5]:
#try taking the mean
numbers = {2, 3, 4, 5}
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In python 3 returns float, but in python 2 would return int

3.5

float

In [6]:
3/5

0.6

In [7]:
6*10**(-1)

0.6000000000000001

In [8]:
type(3/5)

float

In [10]:
type(4.0)

float

In [12]:
#Try taking the mean
numbers = [math.pi, 3/5, 4.1]
sum(numbers)/len(numbers)

2.6138642178632643

# Categorital or Qualitative
## Nominal
    Boolean(bool)
    String(str)
    None(NoneType)
## Ordinal
    Only defined by how you use the data
    Often important when creating visuals
    Lists can hold ordinal information because they have indices

## Boolean

In [14]:
#Boolean
type(bool('yes'))

bool

In [18]:
if 6 > 5:
    print('Yes!')

Yes!

In [17]:
myList = (True, 6<5, 1==3, None is None)
for element in myList:
    print(type(element))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [19]:
print(sum(myList)/len(myList))
type(sum(myList)/len(myList))

0.5

float

## String

In [20]:
type('This sentence makes sense')

str

In [21]:
type('Makes sentense this sense')

str

In [31]:
#string
type('math.pi')

str

In [32]:
strList = ['dog', 'koala', 'goose']
sum(strList)/len(strList)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Nonetype

In [33]:
#None
type(None)

NoneType

In [34]:
#None
x = None
type(x)

NoneType

In [35]:
noneList = [None]*5
sum(noneList)/len(noneList)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

## Lists

In [36]:
#list
myList = [1, 1.1, 'This is a sentence', None]
for element in myList:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [37]:
sum(myList)/len(myList)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [38]:
#List
myList = [1, 2, 3]
for element in myList:
    print(type(element))
sum(myList)/len(myList) # note that this output a float

<class 'int'>
<class 'int'>
<class 'int'>

2.0

In [39]:
myList = ['third', 'first', 'medium', 'small', 'large']
myList[0]

'third'

In [40]:
myList.sort()
myList

['first', 'large', 'medium', 'small', 'third']